/* :root {
    --font-family: 'Montserrat', sans-serif;
    --second-family: 'Comfortaa', cursive;
    --sidebar-bg: #6a4dff;
    --content-bg: #eef8eb;
  } */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    background: var(--sidebar-bg);
    display: flex;
  }
  
  .layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #6a4dff;
  }
  
 
  .logo {
    color: white;
    font-family: var(--second-family);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .layout {
      background-color: #eef8eb;
    }
    
    .content{

      padding: 10px;
      margin: 10px;

    }

    .course-avatar{
      margin: 0px;
    }

    .course-card{
      align-items: center;
      justify-content: center;
    }
  }